<!DOCTYPE html>

<head lang="en">
    <title>AnimeInfo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="animePage.css" , rel=" stylesheet">
</head>
<body>
    <% if (anime == null) { %>
        <h2>No anime found.</h2>
    <% } else { %>
        <!-- Title -->
        <h3>Anime Name:</h3>
        <h1><%= anime.title.english %></h1>

        <!-- Cover Image -->
        <h3>Cover Image</h3>
        <img src="<%= anime.coverImage.large %>" alt="Anime Cover">

        <!-- Description -->
        <p><%= anime.description %></p>

        <!-- Number of Episodes -->
        <h3>Number of episodes: <%= anime.episodes %></h3>

        <!-- Studio Names -->
        <h3>Produced by studios</h3>
        <ul>
            <% anime.studios.edges.forEach(studio => { %>
                <li><%= studio.node.name %></li>
            <% }); %>
        </ul>
    <% } %>
</body>